html {
	background: url('../images/background.jpeg') no-repeat center center fixed;
	min-height:100%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}